@media (max-width:500px) {
    .col-left{
      display: none;
    }
    .details-dflex{
      display: flex;
      flex-direction: column;
    }
    .beforefooter{
      
      flex-direction: column;
    }
    .details{
      margin-top: 130px !important;
    }
    .det-img{
      padding-top: 50px;
    }
    .wishflex{
      flex-direction: column !important;
    }
    .headCaption {
margin-top: 160px !important;
}
.headCaption p{
     font-size: 16px !important;

   }
    .beforefooter .links {
      width: 74%;
      margin: auto;
      padding: 4px 0;
      border: 1px solid black;
      border-bottom: none;
  }
  .addProductFlex{
    flex-direction: column;
    display: flex;
  }
  .Grbimg-cat{
    flex-direction: column;
    display: flex;
    gap: 20px;
  }
  
  .svg {
display: none;
}

.head{
  display: flex;
  flex-direction: column;

}

.slider
{
    background-color: #fff;
    width: 98%;
    padding: 10px;
    margin: auto;
}
nav .form-control {
  width: 100%;
  margin-right: auto  ;
  margin-top: 8px;
}
.DTCairo{
 display: none;
}


/* .fa-search::before {
  content: "\f002";
  color: black;
  z-index: 5545645455454;
  font-size: 20px;

  position: absolute;
  color: rgb(255, 255, 255);
  left: 12px !important;
  top: 15px !important;
} */
/* .navbar2 .nav-link{
display: none; */
}
/* .navbar2 .search-groub{
width: 100% !important;
} */
.navbar2 .DTCairocolor{
margin-left: 20px !important;
/* margin-right: auto !important; */
}




.shop::before{
  
  content: "\f07a";
  font-size: 20px;
  z-index: 5545645455454;
  position: absolute;
  color: rgb(255, 255, 255);
  left: -8px !important;
  top: 14px !important;
}
.fa-moon::before {
  content: "\f186";
  margin-top: 0;
  top: 11px ;
  position: absolute;
}
.fa-sun::before{
  content: "\f185";

  margin-top: 0;
  top: 11px ;
  position: absolute;
}

@media (max-width:1000px){

}

  @media (max-width:800px){
    .head{
      display: flex;
      padding-top: 50px;
      flex-direction: column;
      
    
    }
    .head img{
      width: 75% !important;
    }
    .svg {
      display: none;
      }
      
  }
/* 
  @media (min-width: 1400px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container,.container-flud {
      max-width: 1140px;
    }
  } */