@media (max-width:500px) {
    .col-left{
      display: none;
    }
    .details-dflex{
      display: flex;
      flex-direction: column;
    }
    .beforefooter{
      
      flex-direction: column;
    }
    .beforefooter .links {
      width: 74%;
      margin: auto;
      padding: 4px 0;
      border: 1px solid black;
      border-bottom: none;
  }
  .addProductFlex{
    flex-direction: column;
    display: flex;
  }
  .Grbimg-cat{
    flex-direction: column;
    display: flex;
    gap: 20px;
  }
  
  .svg {
display: none;
}

.head{
  display: flex;
  flex-direction: column;

}

.slider
{
    background-color: #fff;
    width: 98%;
    padding: 10px;
    margin: auto;
}

.fa-search::before {
  content: "\f002";
  z-index: 5545645455454;
  font-size: 20px;

  position: absolute;
  color: rgb(255, 255, 255);
  left: 139px !important;
  top: 15px !important;
}

}




.fa-cart-shopping::before{
  
  content: "\f07a";
  font-size: 20px;
  z-index: 5545645455454;
  position: absolute;
  color: rgb(255, 255, 255);
  left: 0px ;
  top: 14px !important;
}
.fa-moon::before {
  content: "\f186";
  margin-top: 0;
  top: 11px ;
  position: absolute;
}
.fa-sun::before{
  content: "\f185";

  margin-top: 0;
  top: 11px ;
  position: absolute;
}


  @media (max-width:900px){
    .head{
      display: flex;
      padding-top: 50px;
      flex-direction: column;
      
    
    }
    .head img{
      width: 75% !important;
    }
    .svg {
      display: none;
      }
      
  }
/* 
  @media (min-width: 1400px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container,.container-flud {
      max-width: 1140px;
    }
  } */