@media (max-width:500px) {
    .col-left{
      display: none;
    }
    .details-dflex{
      display: flex;
      flex-direction: column;
    }
    .beforefooter{
      
      flex-direction: column;
    }
    .cartList{
      width: 600px;
      position: absolute;
      padding: 10px;
      background-color: #03A9F4;
      transform: translateY(24px) !important;
     
    }
    .cartShop{
      display: flex;
      flex-direction: column;
    }
    .details{
      margin-top: 130px !important;
    }
    .det-img{
      padding-top: 50px;
    }
    .wishflex{
      flex-direction: column !important;
    }
    .sale-sec{
      width: 95%;
    }

.headCaption p{
     font-size: 18px !important;

   }
   
  .head .ex{
    
    /* margin-bottom: 90px; */
    /* flex-direction: column; */
    
  
  }
  .alert2{
    width: 270px !important;
  }
   .oh{
    display: flex;
    flex-direction: column;
   }
    .beforefooter .links {
      width: 74%;
      margin: auto;
      padding: 4px 0;
      border: 1px solid black;
      border-bottom: none;
  }
  .addProductFlex{
    flex-direction: column;
    display: flex;
  }
  .Grbimg-cat{
    flex-direction: column;
    display: flex;
    gap: 20px;
  }
  
  /* .svg {
display: none;
} */

.head{
  display: flex;
  flex-direction: column;
  padding-top: 90px !important;

}

.slider
{
    background-color: #fff;
    width: 98%;
    padding: 10px;
    margin: auto;
}
nav .form-control {
  width: 100%;
  margin-right: auto  ;
  margin-top: 8px;
}
.DTCairo{
 display: none;
}
}

.navbar2 .DTCairocolor{
margin-left: 20px !important;
}




.shop::before{
  
  content: "\f07a";
  font-size: 25px;
  z-index:4;
  position: absolute;
  color: rgb(255, 255, 255);
  left: -15px !important;
  top: 14px !important;
}
.fa-moon::before {
  content: "\f186";
  margin-top: 0;
  top: 11px ;
  position: absolute;
}
.fa-sun::before{
  content: "\f185";

  margin-top: 0;
  top: 11px ;
  position: absolute;
}

@media (max-width:1200px){

  .head{
    display: flex;
    padding-top: 160px;
    /* flex-direction: column; */
    
  
  }
  .cartList{
    width: 600px;
    position: absolute;
    padding: 10px;
    background-color: #03A9F4;
    transform: translateY(24px) !important;
   /* left: -350px; */
  }
  .cartShop{
    display: flex;
    flex-direction: column;
  }
  .cart12{
    display: flex;
    flex-direction: column;
  }
  .head .ex{
    
    padding-top: 60px;
    /* flex-direction: column; */
    
  
  }
}

  @media (max-width:800px){
  
   
    .head{
      display: flex;
      padding-top: 160px;
      flex-direction: column;
      
    
    }
    .head img{
      width: 75% !important;
    }
    .svg {
      display: none;
      }
      
  }
